{
  "endOfLine": "lf",
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "",
    "<BUILTIN_MODULES>",
    "",
    "^(vite$)",
    "^(vite/(.*)$)",
    "^(vite-(.*)$)",
    "",
    "^(vitest$)",
    "^(vitest/(.*)$)",
    "^(vitest-(.*)$)",
    "",
    "^(@react-router/(.*)$)",
    "^(react-router-devtools$)",
    "",
    "^(react$)",
    "^(react/(.*)$)",
    "^(react-dom$)",
    "^(react-dom/(.*)$)",
    "^(react-router$)",
    "^(react-router/(.*)$)",
    "^(react-intl$)",
    "^(react-intl/(.*)$)",
    "^(react-icons$)",
    "^(react-icons/(.*)$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(~)(/core/.*)$",
    "",
    "^(~)(/domain/.*)$",
    "",
    "^(~)(/ui/.*)$",
    "",
    "^(~)(/.*)$",
    "",
    "^[.](?!/\\+types/.*$)",
    "",
    "^(./[+]types)(/.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "importOrderCaseSensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ]
}
